@font-face {
    font-family: BalsamiqSans;
    src: url(../font/BalsamiqSansRegular.ttf);
}

body{
    font-family: BalsamiqSans;
    margin: 0;
}
img {
    width: 100%;
}
header {
    position: fixed;
    width: 100%;
    background: #ffffff;
}
nav{
    width:100%;
    border-bottom:1px solid #6E6E6E;
}

nav li{
    display: inline-block;
    list-style-type: none;
    padding:20px 20px 20px 0;
}

nav ul{
    margin: 0;
}

nav a, nav a:hover{
    color: black;
    font-size: 15px;
    text-decoration: none;
}

#content{
    width: 70%;
    padding-top: 88px;
    margin: 0 auto;
    margin-bottom: 122px;
}

.image-row {
    width: 60%;
    margin: 61px auto 0 auto;
}

.image-row:last-child > hr{
    display: none;
}

.image-wrapper {
    width: 58%;
    margin: 0 auto 61px;
}

figure {
    text-align: center;
}

figcaption {
    text-align: left;
    font-size:20px;
}

/* ONLY ADMIN STYLES*/
.posts{
    display:none;
}

.user{
    display:none;
}

.toggle-posts{
    margin-bottom: 20px;
}

.toggle-user{
    margin-bottom: 20px;
}

.posts .image-row-admin:nth-child(1) {
    width: 100%;
    height:50px;
    border-top:1px solid #6E6E6E;
}

.image-row-admin {
    width: 100%;
    height:50px;
    border-left:1px solid #6E6E6E;
    border-right:1px solid #6E6E6E;
    border-bottom:1px solid #6E6E6E;
    border-top:none;
}

.image-wrapper-admin {
    width: 100%;
    height: 50px;
}

.figure-admin img{
    height: 50px;
    width: auto;
    float: left;
}

.figure-admin {
    text-align: center;
    margin: 0;
}

.figcaption-admin {
    text-align: left;
    font-size:16px;
    display: inline-block;
    float: left;
    margin-left:20px;
    margin-top: 16px;
}

#links-admin{
    display: inline-block;
    margin-left:20px;
    margin-top: 16px;
    margin-right: 5px;
    float: right;
}

#links-admin a{
    color: #6E6E6E;
}

#links-admin a:visited{
    color: #6E6E6E;
}

.user .image-row-admin-user:nth-child(1) {
    width: 100%;
    height:50px;
    border-top:1px solid #6E6E6E;
}

.image-row-admin-user {
    width: 100%;
    height:50px;
    border-left:1px solid #6E6E6E;
    border-right:1px solid #6E6E6E;
    border-bottom:1px solid #6E6E6E;
    border-top:none;
}

.image-wrapper-admin-user {
    width: 100%;
    height: 50px;
}

.p-admin{
    display:inline-block;
    margin-left: 5px;
}

/* ONLY ADMIN STYLES*/

input {
    font-family: BalsamiqSans;
}

form input{
    width: 100% !important;
    margin:0 0 20px 0;
}

form input[type="button"]{
    float:left;
    width: 40% !important;
}

form input[type="submit"]{
    float:right;
    width: 40% !important;
}

h1{
    text-align: center;
}

#login{
    margin-bottom:61px;
}

.line{
    margin-top: 100px;
    position: relative;
}
.line .mask {
    overflow: hidden;
    height: 1px;
}
.line .mask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px black;
}


.warning {
    display: none;
}

#logo{
    width:100px;
}

.image_upload_message{
    height:30px;
    width:auto;
    border:1px solid green;
    background-color: darkseagreen;
    position: absolute;
    right:0;
    padding:10px;
    margin-top:3%;
    margin-right: 4%;
}

footer{
    position: fixed;
    height: 61px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #6E6E6E;
    background-color: white;
    font-size: 15px;
}

.left{
    width:50%;
    display: inline-block;
    float: left;
    margin-top: 22px;
    text-align: center;
}

.right{
    width:50%;
    display: inline-block;
    float: right;
    margin-top: 22px;
    text-align: center;
}

@media (max-width: 768px) {
    img{
        width:100%;
    }
    .image-wrapper{
        width: 100%;
    }
    .image-row{
        width:100%;
    }
    .left{
        width:50%;
        display: block;
        float: left;
        margin-top: 10px;
        text-align: center;
    }

    .right{
        width:50%;
        display: block;
        float: right;
        margin-top: 10px;
        text-align: center;
    }
    .figcaption-admin {
        text-align: left;
        font-size:16px;
        display: inline-block;
        float: left;
        margin-left:5px;
        margin-top: 16px;
    }
}

@media (max-width: 355px) {
    #logo{
        width: 90px;
    }
}