@font-face {
    font-family: BalsamiqSans;
    src: url(../font/BalsamiqSansRegular.ttf);
}

body{
    font-family: BalsamiqSans;
}
img {
    width: 100%;
}
header {
    position: fixed;
    width: 100%;
    background: #ffffff;
}
nav{
    width:100%;
    border-bottom:1px solid #6E6E6E;
}

nav li{
    display: inline-block;
    list-style-type: none;
    padding:20px 20px 20px 0;
}

nav ul{
    margin-bottom: 0;
}

nav a, nav a:hover{
    color: black;
    font-size: 15px;
    text-decoration: none;
}

#content{
    width: 70%;
    padding-top: 61px;
    margin: 0 auto;
}
.image-row {
    width: 60%;
    margin: 0 auto;
}
.image-wrapper {
    width: 50%;
    margin: 0 auto;
}
figure {
    text-align: center;
}
figcaption {
    text-align: left;
    font-size:20px;
}
